/* Padrão */

.titulos{
    color: #FF0000;
    background-color: black;
    text-align: center;
    font-family: arial;
}

/* Background + cores + Class + ID */

#corpo{
    color: #00FF00;
    background-image: url(../imagens/fundo-texto.jpg);
}

/* Unidades Fixas */

#cm{
    background-color: blue;
    width: 1cm;
    height: 1cm;
}

#mm{
    background-color: red;
    width: 1mm;
    height: 1mm;
}

#in{
    background-color: blue;
    width: 1in;
    height: 1in;
}

#px{
    background-color: red;
    width: 10px;
    height: 10px;
}

#pt{
    background-color: blue;
    width: 10pt;
    height: 10pt;
}

#pc{
    background-color: red;
    width: 1pc;
    height: 1pc;
}

/* Unidades Relativas */

#em{
    font-size: 25px;    
}
#em2{
    font-size: 2em;
}

#rem{
    font-size: 2rem;
}

#vh{
    background-color: red;
    height: 5vh;
}

#vw{
    background-color: red;
    width: 50vw;
}

#vmin{
    background-color: red;
    width: 50vmin;
}

#vmax{
    background-color: red;
    width: 50vmax;
}

#pai{
    background-color: red;
    width: 50%;
}
#porcentagem{
    background-color: blue;
    width: 50%;
}

/* Margin e padding */

#padding{
    background-color: red;
    padding: 5px;
}

#margin{
    background-color: blue;
    margin: 5px;
}

/* Border */

.dotted{
    border-style: dotted;
    border-color: brown;
    border-width: 1px;
}

.doubble{
    border-style: double;
    border-color: brown;
    border-width: 1px;
}

.groove{
    border-style: groove;
    border-color: brown;
    border-width: 1px;
}

.hidden{
    border-style: hidden;
    border-color: brown;
    border-width: 1px;
}

.inherit{
    border-style: inherit;
    border-color: brown;
    border-width: 1px;
}

.initial{
    border-style: initial;
    border-color: brown;
    border-width: 1px;
}

.inset{
    border-style: inset;
    border-color: brown;
    border-width: 1px;
}

.none{
    border-style: none;
    border-color: brown;
    border-width: 1px;
}

.outset{
    border-style: outset;
    border-color: brown;
    border-width: 1px;
}

.ridge{
    border-style: ridge;
    border-color: brown;
    border-width: 1px;
}

.solid{
    border-style: solid;
    border-color: brown;
    border-width: 1px;
}

.unset{
    border-style: unset;
    border-color: brown;
    border-width: 1px;
}

/* Box model */

#container{
    background-color: blue;
    padding: 5px;
    margin: 5px;
    border: yellow solid 5px;
}

#inside{
    background-color: red;
    outline: yellow solid 5px;
    padding: 5px;
    margin: 5px;
    border: green solid 5px;
}

/* Ajustes de texto */

#texto{
    text-align: justify;
    color: blue;
    text-decoration: none;
    text-indent: 15px;
    text-shadow: 2px -2px 2px #ddd;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    line-height: 2;
    word-spacing: 10px;
}

#link-teste{
    text-decoration: none;
}

/* Fontes */

#fontes{
    font-family: arial,"Comic sans MS", sans-serif;
    font-style: normal;
    font-size: 1.5rem;
    font-weight: 700;
    font-variant: small-caps;
}

/* Fonte customizada */

@font-face {
    font-family: FonteLOTR;
    src: url(../Fonts/LOTR.TTF);
}

#LOTR{
    font-family: 'FonteLOTR';
}


/* Links */

#link1{
    background-color: white;
    color: red;
    text-decoration: none;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
    border: red solid 2px;
}

#link1:hover{
    background-color: red;
    color: white;
}

#link1:active{
    background-color: red;
    color: black;
}

#link2{
    background-color: blue;
    color: white;
    text-decoration: none;
    padding-bottom: 5px;
    padding-top: 5px;
    padding: 10px;
    border-radius: 8px;
}

#link2:visited{
    background-color: #ddd;
    color: black;
}

/* Lista */

#lista_desordenada{
    list-style-image: url("../imagens/check.png");
    list-style-position: inside;
    margin: 0px;
    padding: 10px;
}

#lista_ordenada{
    list-style-type: upper-alpha;
    list-style-position: inside;
    margin: 0px;
    padding: 10px;
    background-color: blue;
}

li{
    border: solid 1px black;
    margin: 5px;
    padding: 5px;
    background-color: yellow;
    border-radius: 8px;
}

/* Overflow */

#overflow{
    width: 300px;
    height: 200px;
    background-color: black;
    color: red;
    overflow: auto;
}

/* Alinhamento horizontal */

#Quadrado{
    width: 50px;
    height: 50px;
    background-color: blue;
    margin: auto;
}

#Block{
    text-align: center;
}

/* Postion static e relative */

#Quadro{
    width: 500px;
    height: 400px;
    border: 1px solid black;
}

#QuadradoVermelho{
    width: 100px;
    height: 100px;
    background-color: red;
}

#QuadradoVerde{
    width: 100px;
    height: 100px;
    background-color: green;
}

#QuadradoAzul{
    position: fixed;
    bottom: 0px;
    width: 100px;
    height: 100px;
    background-color: blue;
}