/* Padrão */

.titulos{
    color: #FF0000;
    background-color: black;
    text-align: center;
}

/* Background + cores + Class + ID */

#corpo{
    color: #00FF00;
    background-image: url(../imagens/fundo-texto.jpg);
}

/* Unidades Fixas */

#cm{
    background-color: blue;
    width: 1cm;
    height: 1cm;
}

#mm{
    background-color: red;
    width: 1mm;
    height: 1mm;
}

#in{
    background-color: blue;
    width: 1in;
    height: 1in;
}

#px{
    background-color: red;
    width: 10px;
    height: 10px;
}

#pt{
    background-color: blue;
    width: 10pt;
    height: 10pt;
}

#pc{
    background-color: red;
    width: 1pc;
    height: 1pc;
}

/* Unidades Relativas */

#em{
    font-size: 25px;    
}
#em2{
    font-size: 2em;
}

#rem{
    font-size: 2rem;
}

#vh{
    background-color: red;
    height: 5vh;
}

#vw{
    background-color: red;
    width: 50vw;
}

#vmin{
    background-color: red;
    width: 50vmin;
}

#vmax{
    background-color: red;
    width: 50vmax;
}

#pai{
    background-color: red;
    width: 50%;
}
#porcentagem{
    background-color: blue;
    width: 50%;
}

/* Margin e padding */

#padding{
    background-color: red;
    padding: 5px;
}

#margin{
    background-color: blue;
    margin: 5px;
}

/* Border */

.dotted{
    border-style: dotted;
    border-color: brown;
    border-width: 1px;
}

.doubble{
    border-style: double;
    border-color: brown;
    border-width: 1px;
}

.groove{
    border-style: groove;
    border-color: brown;
    border-width: 1px;
}

.hidden{
    border-style: hidden;
    border-color: brown;
    border-width: 1px;
}

.inherit{
    border-style: inherit;
    border-color: brown;
    border-width: 1px;
}

.initial{
    border-style: initial;
    border-color: brown;
    border-width: 1px;
}

.inset{
    border-style: inset;
    border-color: brown;
    border-width: 1px;
}

.none{
    border-style: none;
    border-color: brown;
    border-width: 1px;
}

.outset{
    border-style: outset;
    border-color: brown;
    border-width: 1px;
}

.ridge{
    border-style: ridge;
    border-color: brown;
    border-width: 1px;
}

.solid{
    border-style: solid;
    border-color: brown;
    border-width: 1px;
}

.unset{
    border-style: unset;
    border-color: brown;
    border-width: 1px;
}

/* Box model */

#container{
    background-color: blue;
    padding: 5px;
    margin: 5px;
    border: yellow solid 5px;
}

#inside{
    background-color: red;
    outline: yellow solid 5px;
    padding: 5px;
    margin: 5px;
    border: green solid 5px;
}

/* Ajustes de texto */

#texto{
    text-align: justify;
    color: blue;
    text-decoration: none;
    text-indent: 15px;
    text-shadow: 2px -2px 2px #ddd;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    line-height: 2;
    word-spacing: 10px;
}

#link-teste{
    text-decoration: none;
}